* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1980px;
  padding: 10px;
}

.tabs-section {
  margin-top: 100vh;
  width: 70%;
  overflow: hidden;
}

.bill-details img {
  width: 100px;
  height: 100px;
}

#waterfall {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -1;
}

.tabs-header {
  display: flex;
  flex-wrap: wrap;
}
.tabs-header span {
  font-size: 1.6rem;
  cursor: pointer;
  padding: 10px;
  border: 2px solid black;
  border-right: 0;
}
.tabs-header span:hover {
  background-color: rgba(205, 205, 205, 0.5);
}
.tabs-header span:nth-last-child(2) {
  border-right: 2px solid black;
}
.tabs-header span:last-child {
  cursor: default;
  flex-grow: 1;
  display: block;
  border: 0;
  border-bottom: 2px solid black;
}
.tabs-header .active {
  border-bottom: 0;
}

.loading-container {
  height: 400px;
  position: relative;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  height: 40px;
  width: 40px;
  border: 5px solid red;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-radius: 50%;
  -webkit-animation: spin 2s ease-in-out infinite normal forwards;
          animation: spin 2s ease-in-out infinite normal forwards;
}

.tabs-data {
  font-size: 1.4rem;
  color: brown;
  padding: 10px 30px;
  line-height: 1.8;
  height: 400px;
  overflow-y: scroll;
}

nav {
  padding: 15px;
  position: relative;
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  font-weight: 600;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  color: rgb(236, 171, 30);
  white-space: nowrap;
  cursor: pointer;
  margin: 0px 20px;
}
nav ul li:hover {
  color: rgb(194, 139, 19);
}
@media screen and (max-width: 748px) {
  nav ul {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1300px) {
  nav ul {
    text-align: left;
    justify-content: start;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    width: 50%;
    height: 100vh;
    -webkit-animation-name: slideDown;
            animation-name: slideDown;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-direction: normal;
            animation-direction: normal;
  }
  nav ul li {
    margin-top: 20px;
  }
}
nav .navbar-brand {
  font-family: Arial Black, Arial Bold, Gadget, sans-serif;
  background-image: linear-gradient(white, red);
  text-align: center;
  white-space: normal;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-size: 24px;
}
@media screen and (max-width: 1300px) {
  nav .navbar-brand {
    flex-direction: column;
  }
}
nav #hamburgerMenu {
  height: 50px;
  width: 50px;
  fill: white;
  filter: invert(81%) sepia(3%) saturate(23%) hue-rotate(321deg) brightness(83%) contrast(91%);
  margin-left: auto;
  margin-right: 20px;
}
nav #hamburgerMenu:hover {
  filter: invert(100%) sepia(3%) saturate(23%) hue-rotate(321deg) brightness(83%) contrast(91%);
}
@media screen and (min-width: 1301px) {
  nav #hamburgerMenu {
    display: none;
  }
}

@-webkit-keyframes slideDown {
  0% {
    top: -100px;
  }
  100% {
    top: 100px;
  }
}

@keyframes slideDown {
  0% {
    top: -100px;
  }
  100% {
    top: 100px;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */